.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.header {
  position:relative;
  left:0px;
  top:0px;
  z-index:1;
  width:100%;
  background-color:#3f5c99;
  width:100%;
  float:left;

}

.header ul {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
}


.header a {
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.header li {
  display: table-cell;
  padding: 5px 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 20%;
}

.header li:after {
  border-left: 1px solid #2f477a;
  content: "";
  height: 20px;
  position: absolute;
  right: 0;
  top: 8px;
}

.button {
  background:none;
  border:none;
  font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
  font-style: normal;
  color: white;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
}
.button:disabled  {
  background-color: #2f477a;
}

/* On mouse-over */
.button:hover:enabled {cursor: pointer; background-color: #2f477a;}

@media (min-width: 640px) {
  .header {
    padding-left: 1.5rem; /* sm:px-6 translates to 1.5rem left and right padding on small screens and above */
    padding-right: 1.5rem;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
